<ion-view view-title="修改密码">
    <ion-header-bar align-title="center" class="bar-calm">
        <a class="button icon ion-backspace pull-left" ui-sref="tab.referred">返回</a>
        <span class="button">{{app.name}}修改密码</span>
    </ion-header-bar>
    <form  name="changepassword" novalidate>
    <ion-content class="padding">

            <div class="list">
                <label class="item item-input ">
                    <span class="input-label">旧密码</span>
                    <input type="password" name="usedPassword" placeholder="旧密码" ng-model="changepassword.oldpassword" required ng-maxlength="30" >
                </label>
               <span  style="color:maroon" ng-messages="changepassword.usedPassword.$dirty&&changepassword.usedPassword.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">旧密码不能为空</div>
                        <div ng-message="minlength,maxlength" class="link-right">密码长度为6到30位</div>
                    </span>

                <label class="item item-input ">
                    <span class="input-label">新密码</span>
                    <input type="password" name="passwordToUse" placeholder="新密码" ng-model="changepassword.newpassword"  required ng-maxlength="30">
                </label>
                <span  style="color:maroon" ng-messages="changepassword.passwordToUse.$dirty&&changepassword.passwordToUse.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">新密码不能为空</div>
                        <div ng-message="minlength,maxlength" class="link-right">密码长度为6到30位</div>
                    </span>
                <label class="item item-input ">
                    <span class="input-label">确认密码</span>
                    <input type="password" name="retyped" placeholder="请确认密码"  ng-model="retypedPassword" bf-assert-equals="changepassword.newpassword" bf-field-error="{same:' 两次输入的密码不一致'}" required>
                </label>
                 <span  style="color:maroon" ng-messages="changepassword.retyped.$dirty&&changepassword.retyped.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">请确认密码</div>
                        <div ng-message="same" class="link-right">两次输入不一致</div>
                    </span>
                <button type="submit" class="button button-block button-balanced" ng-disabled="changepassword.$invalid" ng-click="changePassword();">
                    修改密码
                </button>
            </div>
         </ion-content>
        </form>

</ion-view>
